<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyTV</title>
    <!-- local css file in public directory -->
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <header>
        <h1> <%= title %> </h1>
        <p>Web app is built using node, express and mysql to show MY TV shows.</p>
      </header>
      <main>
        <% rowdata.forEach((tvshow)=> { %>
            <p>
                <%= tvshow.showname %>
                <span> 
                    <a href="/row?tvid=<%=tvshow.id%>">details</a> 
                </span>
            </p>
        <% }) %>
      </main>
</body>
</html>