body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main, header{
    width:85%;
    margin: 0 auto;
}
input, textarea{
    width: 70%;
    padding: 10px;
    font-size: large;
}
input[type=submit]{
    width: 30%;
}